<div class="section no-pad-bot" id="index-banner">
    <div class="container">
      <br><br>
      <h1 class="header center orange-text">Royalty Free Content For your New Product</h1>
      <div class="row center">
        <h5 class="header col s12 light">Vectors, icons, Images, photos and more ...</h5>
      </div>
      <div class="row center">
          <div class="col s12">
            <div class="row">
              <div class="input-field inline col s12">
                <input type="text" placeholder="Wildlife stock photos, free icon sets, indian bride, abstract, ...." id="autocomplete-input" class="autocomplete">
                <i class="material-icons prefix">search</i>
                  <a href="http://materializecss.com/getting-started.html" id="download-button" class="btn-large waves-effect waves-light orange">Search</a>
              </div>
            </div>
          </div>
      </div>

    </div>
</div>
<div class="container" ng-repeat=" section in sections ">
  <h3>{{section.title}} </h3>
  <div class="row">
    <div class="col s4 m3 hoverable" ng-repeat=" image in section.images ">
      <div class="card">
        <div class="card-image">
          <img ng-src="{{image.url}}">
          <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">file_download</i></a>
        </div>
        <div class="card-content">
          <p class=".hide-on-med-and-down">{{image.desc}}</p>
        </div>
      </div>
    </div>
  </div>
</div>